<% if search.corrected_query? %>
  <p class="govuk-body">
    Did you mean &ldquo;<strong><%= link_to search.corrected_query, search_path(q: search.corrected_query), class: "govuk-link" %></strong>&rdquo;?
  </p>
<% end %>

<%= render "govuk_publishing_components/components/heading", {
  text: pluralize(search.total_size, "result"),
  id: "js-result-count",
  font_size: "s",
  margin_bottom: 2,
} %>

<%= render "govuk_publishing_components/components/document_list", {
  items: search.results.map { |result|
    {
      link: {
        text: result.title,
        path: result.url,
        description: result.description,
      },
      metadata: {
        public_updated_at: result.date,
      }
    }
  },
  remove_underline: true,
} %>
