@import "govuk_publishing_components/all_components";

@import "playground";

@import "autocomplete";

@import "accordion";

@import "home";

@import "filters";

@import "facet-tag"; 

.gem-c-search {
    margin-bottom: 0;
}

//horrible temporary menu hack
#super-search-menu-toggle {
    width: auto;
    line-height: 1.25;
}

.navigation-search-item-hack {
    font-size: 16px;
    line-height: 1.25;
    padding-left: 4px;
    
}

.gem-c-layout-super-navigation-header__search-toggle-button-link-icon {
    height: 15px;
    width: 15px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    /* display: none;
    -webkit-appearance: none; */
    margin:0;
}
input[type="date"]::-webkit-datetime-edit {
    display:none;
}

input[type="date"] {
    height: 30px;
    margin-top: 29px;
    margin-left: 10px;
}

.govuk-checkboxes__conditional {
    display: flex;
}
