.filter-panel {
    background-color:  govuk-colour("light-grey");
    padding: 15px;

    .govuk-button {
        display: inline-block;
        width: 100%;
        margin: 10px 0;
    }

    select {
        width: 100%;
    }

    //horrible hack for prototype, needs to go away
    details {
        legend, .govuk-hint {
            display: none;
        }
    }

    .clear-filters {
        line-height: 3.2rem;

        @include govuk-media-query($until: tablet) {
            line-height: normal;
        }
    }
}

.panel-button {
    display: none;
}

.js-enabled {
    .panel-button {
        display: block;
    }

    .filter-header {
        .govuk-link {
            border: none;
        }
    }
}

.filter-header {
    display: flex;

    .gem-c-heading {
        flex-grow: 1;
        font-weight: normal;
    }

    .gem-c-button {
        // flex-basis: 50%;
    }

    .govuk-link {
        flex-basis: content;
        align-self: center;
        text-align: center;
    }

    .panel-button {
        text-align: right !important;
        background-color: transparent;
        color: $govuk-link-colour;
    }
}

.filters-sorting {
    border-bottom: 1px solid $govuk-border-colour;
    margin-bottom: 10px;

    h2 {
        @include govuk-font(24, $weight: bold);
    }

    .govuk-form-group {
        margin-bottom: 10px;
    }
}

// Fix checkboxes and radios not having white inner background when on non-white background
.govuk-checkboxes__label, .govuk-radios__label {
    &::before {
        background-color: govuk-colour('white');
    }
}

//govuk details component overides
.govuk-details[open]>.govuk-details__summary::before {
	border-style: solid;
	border-width: 2px 2px 0 0;
	content: '';
	display: inline-block;
	height: 10px;
	left: 0;
	position: relative;
	top: 0;
	vertical-align: middle;
	width: 10px;
    border-color: $govuk-text-colour;
    clip-path: unset;
	transform: rotate(-45deg);
}

.govuk-details>.govuk-details__summary::before {
	border-style: solid;
	border-width: 2px 2px 0 0;
	content: '';
	display: inline-block;
	height: 10px;
	left: 0;
	position: relative;
	top: -5px;
	transform: rotate(135deg);
	vertical-align: middle;
	width: 10px;
    border-color: $govuk-text-colour;
    clip-path: unset;
}

.govuk-details {
    border-bottom: 1px solid $govuk-border-colour;
    padding: 10px 0;

    summary {
        @include govuk-font(24, $weight: bold);
        margin-bottom: 10px;
        color: $govuk-text-colour;
        font-weight: bold;
        padding-left: 10px;

        .govuk-details__summary-text {
            padding-left: 10px;
        }
    }

    .govuk-details__text,
    .govuk-checkboxes__conditional {
        border-left: none;
        padding-left: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0;
    }
}
