.summary-settings {
  padding: govuk-spacing(4);
  border: 4px solid govuk-colour("mid-grey");

  .govuk-hint {
    @include govuk-font($size: 16);
  }

  .gem-c-label:not(.govuk-radios__label) {
    @include govuk-typography-weight-bold;
  }
}

.gem-c-environment-tag--playground {
  background-color: govuk-colour("turquoise");
  color: govuk-colour("white");
}

.gem-c-layout-header--playground .govuk-header__container {
  border-bottom-color: govuk-colour("turquoise");
}
