<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Related searches",
      heading_level: 1,
      font_size: "l",
      margin_bottom: 6,
    } %>
  </div>
</div>
