<%
types = [
    {
      label: "Services",
      value: "services",
      checked: params[:filter_content_purpose_supergroup]&.include?('services')
    },
    {
      label: "Guidance and regulation",
      value: "guidance_and_regulation",
      checked: params[:filter_content_purpose_supergroup]&.include?('guidance_and_regulation')
    },
    {
      label: "News and communication",
      value: "news_and_communications",
      checked: params[:filter_content_purpose_supergroup]&.include?('news_and_communications')
    },
    {
      label: "Research and statistics",
      value: "research_and_statistics",
      checked: params[:filter_content_purpose_supergroup]&.include?('research_and_statistics')
    },
    {
      label: "Policy papers and consultations",
      value: "policy_and_engagement",
      checked: params[:filter_content_purpose_supergroup]&.include?('policy_and_engagement')
    },
    {
      label: "Transparency and freedom of information releases",
      value: "transparency",
      checked: params[:filter_content_purpose_supergroup]&.include?('transparency')
    },
    ]
%>

<% params[:filter_content_purpose_supergroup]&.each do |grp| %>
  <%= link_to "Remove #{grp}", url_for(params.merge(filter_content_purpose_supergroup: params[:filter_content_purpose_supergroup] - [grp])) %>
<% end %>

<% if (params[:filter_content_purpose_supergroup]) %>
<div class="facet-tags">
    <div class="facet-tags__group">
        <div class="facet-tags__wrapper">
            <span class="facet-tags__preposition">Active Filters</span>
            <% types.each do |type| %>
            <% if (params[:filter_content_purpose_supergroup]&.include?(type[:value])) %>
            <span class="facet-tag">
      <span class="facet-tag__text">Type: <%= type[:label] %></span>

                <button type="button" class="facet-tag__remove" aria-label="Remove filter <%= type[:label] %>" data-module="remove-filter-link" data-facet="content_purpose_supergroup" data-value="services" data-name="">✕</button>
            </span>
            <% end %>
            <% end %>
        </div>
        <div>
        <a href="/search" class="govuk-link">Clear all filters</a>
        </div>
   </div>

</div>
<% end %>
