<% if filter_remove_links.any? %>
  <div class="facet-tags">
    <div class="facet-tags__group">
      <div class="facet-tags__wrapper">
        <span class="facet-tags__preposition">Active Filters</span>
        <% filter_remove_links.each do |title, link| %>
          <%= link_to link, class: "facet-tag" do %>
            <span class="govuk-visually-hidden">Remove filter </span>
            <span class="facet-tag__text"><%= title %></span>
          <% end %>
        <% end %>
      </div>

      <div>
        <%= link_to "Clear all filters", clear_all_filter_path %>
      </div>
    </div>
  </div>
<% end %>
