<%
types = [
    {
      label: "Services",
      value: "services",
      checked: params[:filter_content_purpose_supergroup]&.include?('services')
    },
    {
      label: "Guidance and regulation",
      value: "guidance_and_regulation",
      checked: params[:filter_content_purpose_supergroup]&.include?('guidance_and_regulation')
    },
    {
      label: "News and communication",
      value: "news_and_communications",
      checked: params[:filter_content_purpose_supergroup]&.include?('news_and_communications')
    },
    {
      label: "Research and statistics",
      value: "research_and_statistics",
      checked: params[:filter_content_purpose_supergroup]&.include?('research_and_statistics')
    },
    {
      label: "Policy papers and consultations",
      value: "policy_and_engagement",
      checked: params[:filter_content_purpose_supergroup]&.include?('policy_and_engagement')
    },
    {
      label: "Transparency and freedom of information releases",
      value: "transparency",
      checked: params[:filter_content_purpose_supergroup]&.include?('transparency')
    },
    ]
%>

<% if (params[:filter_content_purpose_supergroup]) %>
<div class="facet-tags">
    <div class="facet-tags__group">
        <div class="facet-tags__wrapper">
            <span class="facet-tags__preposition">Active Filters</span>
            <% params[:filter_content_purpose_supergroup]&.each do |grp| %>
            <span class="facet-tag">
              <span class="facet-tag__text">
                <%= link_to "Type: #{grp.capitalize.gsub "_", " "}", url_for(params.merge(filter_content_purpose_supergroup: params[:filter_content_purpose_supergroup] - [grp])), data: { facet: "content_purpose_supergroup" }, aria: { label: "Remove filter #{grp.capitalize.gsub "_", " "}"} %>
              </span>
            </span>
            <% end %>
        </div>
        <div>
        <a href="/search" class="govuk-link">Clear all filters</a>
      </div>
   </div>
</div>
<% end %>