<div class="govuk-width-container">
    <div class="border-top-blue-from-desktop">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
          <section class="homepage-section homepage-section--services-and-info">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="homepage-section__heading">
        <h2 class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-6">
  Services and information
</h2>
      </div>

      <ul class="homepage-services-and-info__list" data-module="ga4-link-tracker" data-ga4-link-tracker-module-started="true">
          
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:1,&quot;index_section&quot;:3,&quot;index_section_count&quot;:6,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/benefits">Benefits</a>
</h3>
    <p class="govuk-body chevron-card__description">Includes eligibility, appeals, tax credits and Universal Credit</p>
  </div>
</li>
          
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:2,&quot;index_section&quot;:3,&quot;index_section_count&quot;:6,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/births-deaths-marriages">Births, deaths, marriages and&nbsp;care</a>
</h3>
    <p class="govuk-body chevron-card__description">Parenting, civil partnerships, divorce and Lasting Power of Attorney</p>
  </div>
</li>
          
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:3,&quot;index_section&quot;:3,&quot;index_section_count&quot;:6,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/business">Business and self-employed</a>
</h3>
    <p class="govuk-body chevron-card__description">Tools and guidance for businesses</p>
  </div>
</li>
          
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:4,&quot;index_section&quot;:3,&quot;index_section_count&quot;:6,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/childcare-parenting">Childcare and parenting</a>
</h3>
    <p class="govuk-body chevron-card__description">Includes giving birth, fostering, adopting, benefits for children, childcare and schools</p>
  </div>
</li>
          
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:5,&quot;index_section&quot;:3,&quot;index_section_count&quot;:6,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/citizenship">Citizenship and living in the&nbsp;UK</a>
</h3>
    <p class="govuk-body chevron-card__description">Voting, community participation, life in the UK, international projects</p>
  </div>
</li>
          
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:6,&quot;index_section&quot;:3,&quot;index_section_count&quot;:6,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/justice">Crime, justice and the&nbsp;law</a>
</h3>
    <p class="govuk-body chevron-card__description">Legal processes, courts and the police</p>
  </div>
</li>
          
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:7,&quot;index_section&quot;:3,&quot;index_section_count&quot;:6,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/disabilities">Disabled people</a>
</h3>
    <p class="govuk-body chevron-card__description">Includes carers, your rights, benefits and the Equality Act</p>
  </div>
</li>
          
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:8,&quot;index_section&quot;:3,&quot;index_section_count&quot;:6,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/driving">Driving and transport</a>
</h3>
    <p class="govuk-body chevron-card__description">Includes vehicle tax, MOT and driving licences</p>
  </div>
</li>
          
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:9,&quot;index_section&quot;:3,&quot;index_section_count&quot;:6,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/education">Education and learning</a>
</h3>
    <p class="govuk-body chevron-card__description">Includes student loans, admissions and apprenticeships</p>
  </div>
</li>
          
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:10,&quot;index_section&quot;:3,&quot;index_section_count&quot;:6,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/employing-people">Employing people</a>
</h3>
    <p class="govuk-body chevron-card__description">Includes pay, contracts, hiring and redundancies</p>
  </div>
</li>
          
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:11,&quot;index_section&quot;:3,&quot;index_section_count&quot;:6,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/environment-countryside">Environment and countryside</a>
</h3>
    <p class="govuk-body chevron-card__description">Includes flooding, recycling, farming and wildlife</p>
  </div>
</li>
          
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:12,&quot;index_section&quot;:3,&quot;index_section_count&quot;:6,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/housing-local-services">Housing and local services</a>
</h3>
    <p class="govuk-body chevron-card__description">Owning or renting and council services</p>
  </div>
</li>
          
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:13,&quot;index_section&quot;:3,&quot;index_section_count&quot;:6,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/tax">Money and tax</a>
</h3>
    <p class="govuk-body chevron-card__description">Includes debt and Self&nbsp;Assessment</p>
  </div>
</li>
          
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:14,&quot;index_section&quot;:3,&quot;index_section_count&quot;:6,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/abroad">Passports, travel and living&nbsp;abroad</a>
</h3>
    <p class="govuk-body chevron-card__description">Includes renewing passports and travel advice by country</p>
  </div>
</li>
          
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:15,&quot;index_section&quot;:3,&quot;index_section_count&quot;:6,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/visas-immigration">Visas and immigration</a>
</h3>
    <p class="govuk-body chevron-card__description">Apply to visit, work, study, settle or seek asylum in the&nbsp;UK</p>
  </div>
</li>
          
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:16,&quot;index_section&quot;:3,&quot;index_section_count&quot;:6,&quot;index_total&quot;:16,&quot;section&quot;:&quot;Services and information&quot;}" href="https://www.gov.uk/browse/working">Working, jobs and&nbsp;pensions</a>
</h3>
    <p class="govuk-body chevron-card__description">Includes holidays, finding a job and redundancy</p>
  </div>
</li>
      </ul>
    </div>
  </div>
</section>

        </div>
        <div class="govuk-grid-column-full govuk-grid-column-one-third-from-desktop">
          
<section class="homepage-section homepage-section--promotion-slots">
  <div class="homepage-section__heading">
    <div class="homepage-section__heading-wrapper">
      <h2 class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-6">
  Featured
</h2>
    </div>
  </div>

      <div data-module="ga4-link-tracker" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_section&quot;:4,&quot;index_link&quot;:1,&quot;index_section_count&quot;:6,&quot;index_total&quot;:3,&quot;section&quot;:&quot;Featured&quot;}" class="gem-c-image-card govuk-grid-row gem-c-image-card--two-thirds" data-ga4-link-tracker-module-started="true">
    <div class="gem-c-image-card__text-wrapper gem-c-image-card__text-wrapper--two-thirds">
      <div class="gem-c-image-card__header-and-context-wrapper">
          <h3 class="gem-c-image-card__title govuk-heading-s">
              <a class="gem-c-image-card__title-link govuk-link gem-c-image-card__title-link--large-font-size-mobile" href="https://www.gov.uk/government/topical-events/election-2024">Election 2024</a>
</h3>        
      </div>
      <div class="gem-c-image-card__description gem-c-image-card__description--large-font-size-mobile">Find out the latest updates following the General Election.</div>
</div>    <figure class="gem-c-image-card__image-wrapper gem-c-image-card__image-wrapper--one-third"><img class="gem-c-image-card__image" alt="" loading="lazy" height="90" width="90" src="https://www.gov.uk/assets/frontend/homepage/election-2024-edb105fd559b987366a010c40c5b142d3cce667fb070c346097fcc6ce75d78ee.png"></figure>
</div>
      <div data-module="ga4-link-tracker" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_section&quot;:4,&quot;index_link&quot;:2,&quot;index_section_count&quot;:6,&quot;index_total&quot;:3,&quot;section&quot;:&quot;Featured&quot;}" class="gem-c-image-card govuk-grid-row gem-c-image-card--two-thirds" data-ga4-link-tracker-module-started="true">
    <div class="gem-c-image-card__text-wrapper gem-c-image-card__text-wrapper--two-thirds">
      <div class="gem-c-image-card__header-and-context-wrapper">
          <h3 class="gem-c-image-card__title govuk-heading-s">
              <a class="gem-c-image-card__title-link govuk-link gem-c-image-card__title-link--large-font-size-mobile" href="https://www.gov.uk/find-a-job">Find a job</a>
</h3>        
      </div>
      <div class="gem-c-image-card__description gem-c-image-card__description--large-font-size-mobile">Search and apply for jobs in England, Scotland and Wales.</div>
</div>    <figure class="gem-c-image-card__image-wrapper gem-c-image-card__image-wrapper--one-third"><img class="gem-c-image-card__image" alt="" loading="lazy" height="90" width="90" src="https://www.gov.uk/assets/frontend/homepage/find-a-job-4d38717b0451da3bb223ddea7f681d79e48c1c022da5a08f16aba3f681503150.png"></figure>
</div>
      <div data-module="ga4-link-tracker" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_section&quot;:4,&quot;index_link&quot;:3,&quot;index_section_count&quot;:6,&quot;index_total&quot;:3,&quot;section&quot;:&quot;Featured&quot;}" class="gem-c-image-card govuk-grid-row gem-c-image-card--two-thirds" data-ga4-link-tracker-module-started="true">
    <div class="gem-c-image-card__text-wrapper gem-c-image-card__text-wrapper--two-thirds">
      <div class="gem-c-image-card__header-and-context-wrapper">
          <h3 class="gem-c-image-card__title govuk-heading-s">
              <a class="gem-c-image-card__title-link govuk-link gem-c-image-card__title-link--large-font-size-mobile" href="https://www.gov.uk/cost-of-living">Cost of living support</a>
</h3>        
      </div>
      <div class="gem-c-image-card__description gem-c-image-card__description--large-font-size-mobile">Find out what support is available to help with the cost of living.</div>
</div>    <figure class="gem-c-image-card__image-wrapper gem-c-image-card__image-wrapper--one-third"><img class="gem-c-image-card__image" alt="" loading="lazy" height="90" width="90" src="https://www.gov.uk/assets/frontend/homepage/cost-of-living-a0f6a1040426801ec75b101e21de0504f0343bf05adf08acdc3dbc71f0626bb2.png"></figure>
</div>
</section>

        </div>
      </div>
    </div>
    <div class="border-top-blue-from-desktop">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop" data-module="ga4-link-tracker" data-ga4-link-tracker-module-started="true">
  <section class="homepage-section homepage-section__government-activity">
    <div class="homepage-section__heading">
      <div class="homepage-section__heading-wrapper">
        <h2 class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-2">
  Government activity
</h2>
      </div>

      <p class="govuk-body">Find out what the government is doing</p>
    </div>

    <ul class="homepage-services-and-info__list">
        
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:1,&quot;index_section&quot;:5,&quot;index_section_count&quot;:6,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Government activity&quot;}" href="https://www.gov.uk/government/organisations">Departments</a>
</h3>
    <p class="govuk-body chevron-card__description">Departments, agencies and public bodies</p>
  </div>
</li>
        
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:2,&quot;index_section&quot;:5,&quot;index_section_count&quot;:6,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Government activity&quot;}" href="https://www.gov.uk/search/news-and-communications">News</a>
</h3>
    <p class="govuk-body chevron-card__description">News stories, speeches, letters and notices</p>
  </div>
</li>
        
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:3,&quot;index_section&quot;:5,&quot;index_section_count&quot;:6,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Government activity&quot;}" href="https://www.gov.uk/search/guidance-and-regulation">Guidance and regulation</a>
</h3>
    <p class="govuk-body chevron-card__description">Detailed guidance, regulations and rules</p>
  </div>
</li>
        
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:4,&quot;index_section&quot;:5,&quot;index_section_count&quot;:6,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Government activity&quot;}" href="https://www.gov.uk/search/research-and-statistics">Research and statistics</a>
</h3>
    <p class="govuk-body chevron-card__description">Reports, analysis and official statistics</p>
  </div>
</li>
        
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:5,&quot;index_section&quot;:5,&quot;index_section_count&quot;:6,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Government activity&quot;}" href="https://www.gov.uk/search/policy-papers-and-consultations">Policy papers and consultations</a>
</h3>
    <p class="govuk-body chevron-card__description">Consultations and strategy</p>
  </div>
</li>
        
<li class="chevron-card">
  <div class="chevron-card__wrapper">
    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
  <a class="govuk-link chevron-card__link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_link&quot;:6,&quot;index_section&quot;:5,&quot;index_section_count&quot;:6,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Government activity&quot;}" href="https://www.gov.uk/search/transparency-and-freedom-of-information-releases">Transparency documents</a>
</h3>
    <p class="govuk-body chevron-card__description">Data, Freedom of Information releases and corporate reports</p>
  </div>
</li>
    </ul>
  </section>
</div>

        
<div class="govuk-grid-column-full govuk-grid-column-one-third-from-desktop">
  <section class="homepage-section homepage-section__more-on-govuk">
    <div class="homepage-section__heading">
      <h2 class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-6">
  More on GOV.UK
</h2>
    </div>
    <ul class="homepage-most-active-list" data-module="ga4-link-tracker" data-ga4-link-tracker-module-started="true">
        <li class="homepage-most-active-list__item">
          <a class="govuk-link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_section&quot;:6,&quot;index_link&quot;:1,&quot;index_section_count&quot;:6,&quot;index_total&quot;:10,&quot;section&quot;:&quot;More on GOV.UK&quot;}" href="https://www.gov.uk/log-in-register-hmrc-online-services">HMRC services: sign in</a>
        </li>
        <li class="homepage-most-active-list__item">
          <a class="govuk-link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_section&quot;:6,&quot;index_link&quot;:2,&quot;index_section_count&quot;:6,&quot;index_total&quot;:10,&quot;section&quot;:&quot;More on GOV.UK&quot;}" href="https://www.gov.uk/check-mot-history">Check MOT history of a vehicle</a>
        </li>
        <li class="homepage-most-active-list__item">
          <a class="govuk-link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_section&quot;:6,&quot;index_link&quot;:3,&quot;index_section_count&quot;:6,&quot;index_total&quot;:10,&quot;section&quot;:&quot;More on GOV.UK&quot;}" href="https://www.gov.uk/vehicle-tax">Tax your vehicle</a>
        </li>
        <li class="homepage-most-active-list__item">
          <a class="govuk-link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_section&quot;:6,&quot;index_link&quot;:4,&quot;index_section_count&quot;:6,&quot;index_total&quot;:10,&quot;section&quot;:&quot;More on GOV.UK&quot;}" href="https://www.gov.uk/universal-credit">Universal Credit</a>
        </li>
        <li class="homepage-most-active-list__item">
          <a class="govuk-link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_section&quot;:6,&quot;index_link&quot;:5,&quot;index_section_count&quot;:6,&quot;index_total&quot;:10,&quot;section&quot;:&quot;More on GOV.UK&quot;}" href="https://www.gov.uk/foreign-travel-advice">Foreign travel advice</a>
        </li>
        <li class="homepage-most-active-list__item">
          <a class="govuk-link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_section&quot;:6,&quot;index_link&quot;:6,&quot;index_section_count&quot;:6,&quot;index_total&quot;:10,&quot;section&quot;:&quot;More on GOV.UK&quot;}" href="https://www.gov.uk/state-pension-age">Check your State Pension age</a>
        </li>
        <li class="homepage-most-active-list__item">
          <a class="govuk-link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_section&quot;:6,&quot;index_link&quot;:7,&quot;index_section_count&quot;:6,&quot;index_total&quot;:10,&quot;section&quot;:&quot;More on GOV.UK&quot;}" href="https://www.gov.uk/sign-in-childcare-account">Childcare account: sign in</a>
        </li>
        <li class="homepage-most-active-list__item">
          <a class="govuk-link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_section&quot;:6,&quot;index_link&quot;:8,&quot;index_section_count&quot;:6,&quot;index_total&quot;:10,&quot;section&quot;:&quot;More on GOV.UK&quot;}" href="https://www.gov.uk/student-finance-register-login">Student finance: sign in</a>
        </li>
        <li class="homepage-most-active-list__item">
          <a class="govuk-link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_section&quot;:6,&quot;index_link&quot;:9,&quot;index_section_count&quot;:6,&quot;index_total&quot;:10,&quot;section&quot;:&quot;More on GOV.UK&quot;}" href="https://www.gov.uk/self-assessment-tax-returns">Self Assessment tax returns</a>
        </li>
        <li class="homepage-most-active-list__item">
          <a class="govuk-link" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_section&quot;:6,&quot;index_link&quot;:10,&quot;index_section_count&quot;:6,&quot;index_total&quot;:10,&quot;section&quot;:&quot;More on GOV.UK&quot;}" href="https://www.gov.uk/apply-renew-passport">Apply for a passport</a>
        </li>
    </ul>
  </section>
</div>

      </div>
    </div>
  </div>