<section class="homepage-section homepage-section__popular-links govuk-!-padding-top-9">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-6">
  Popular on GOV.UK
</h2>
        <ul style="list-style-type:none" class="homepage-most-viewed-list" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
            <li class="homepage-most-viewed-list__item">
                <div data-track-category="homepageClicked" data-track-action="popularLink" data-track-label="/log-in-register-hmrc-online-services" data-track-value="1" data-track-dimension-index="29" data-track-dimension="HMRC account: sign in or set up" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_section&quot;:2,&quot;index_link&quot;:1,&quot;index_section_count&quot;:6,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Popular on GOV.UK&quot;}" class="gem-c-action-link gem-c-action-link--light-icon govuk-!-margin-bottom-0">

            <span class="gem-c-action-link__link-wrapper">

          <a class="govuk-link gem-c-action-link__link" href="https://www.gov.uk/log-in-register-hmrc-online-services">
                      HMRC account: sign in or set up
          

</a>      </span>


</div>
            </li>
            <li class="homepage-most-viewed-list__item">
                <div data-track-category="homepageClicked" data-track-action="popularLink" data-track-label="/sign-in-universal-credit" data-track-value="1" data-track-dimension-index="29" data-track-dimension="Universal Credit account: sign in" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_section&quot;:2,&quot;index_link&quot;:2,&quot;index_section_count&quot;:6,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Popular on GOV.UK&quot;}" class="gem-c-action-link gem-c-action-link--light-icon govuk-!-margin-bottom-0">

            <span class="gem-c-action-link__link-wrapper">

          <a class="govuk-link gem-c-action-link__link" href="https://www.gov.uk/sign-in-universal-credit">
                      Universal Credit account: sign in
          

</a>      </span>


</div>
            </li>
            <li class="homepage-most-viewed-list__item">
                <div data-track-category="homepageClicked" data-track-action="popularLink" data-track-label="/personal-tax-account" data-track-value="1" data-track-dimension-index="29" data-track-dimension="Personal tax account: sign in or set up" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_section&quot;:2,&quot;index_link&quot;:3,&quot;index_section_count&quot;:6,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Popular on GOV.UK&quot;}" class="gem-c-action-link gem-c-action-link--light-icon govuk-!-margin-bottom-0">

            <span class="gem-c-action-link__link-wrapper">

          <a class="govuk-link gem-c-action-link__link" href="https://www.gov.uk/personal-tax-account">
                      Personal tax account: sign in or set up
          

</a>      </span>


</div>
            </li>
            <li class="homepage-most-viewed-list__item">
                <div data-track-category="homepageClicked" data-track-action="popularLink" data-track-label="/log-in-file-self-assessment-tax-return" data-track-value="1" data-track-dimension-index="29" data-track-dimension="Self Assessment tax return: sign in" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_section&quot;:2,&quot;index_link&quot;:4,&quot;index_section_count&quot;:6,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Popular on GOV.UK&quot;}" class="gem-c-action-link gem-c-action-link--light-icon govuk-!-margin-bottom-0">

            <span class="gem-c-action-link__link-wrapper">

          <a class="govuk-link gem-c-action-link__link" href="https://www.gov.uk/log-in-file-self-assessment-tax-return">
                      Self Assessment tax return: sign in
          

</a>      </span>


</div>
            </li>
            <li class="homepage-most-viewed-list__item">
                <div data-track-category="homepageClicked" data-track-action="popularLink" data-track-label="/sign-in-childcare-account" data-track-value="1" data-track-dimension-index="29" data-track-dimension="Childcare account: sign in" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_section&quot;:2,&quot;index_link&quot;:5,&quot;index_section_count&quot;:6,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Popular on GOV.UK&quot;}" class="gem-c-action-link gem-c-action-link--light-icon govuk-!-margin-bottom-0">

            <span class="gem-c-action-link__link-wrapper">

          <a class="govuk-link gem-c-action-link__link" href="https://www.gov.uk/sign-in-childcare-account">
                      Childcare account: sign in
          

</a>      </span>


</div>
            </li>
            <li class="homepage-most-viewed-list__item">
                <div data-track-category="homepageClicked" data-track-action="popularLink" data-track-label="/standard-visitor" data-track-value="1" data-track-dimension-index="29" data-track-dimension="Visit the UK on a Standard Visitor visa" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;homepage&quot;,&quot;index_section&quot;:2,&quot;index_link&quot;:6,&quot;index_section_count&quot;:6,&quot;index_total&quot;:6,&quot;section&quot;:&quot;Popular on GOV.UK&quot;}" class="gem-c-action-link gem-c-action-link--light-icon govuk-!-margin-bottom-0">

            <span class="gem-c-action-link__link-wrapper">

          <a class="govuk-link gem-c-action-link__link" href="https://www.gov.uk/standard-visitor">
                      Visit the UK on a Standard Visitor visa
          

</a>      </span>


</div>
            </li>
        </ul>
      </div>
    </div>
  </div>
</section>