<div class="govuk-width-container govuk-!-margin-top-2">
  <%= render "govuk_publishing_components/components/phase_banner", {
    phase: "prototype",
    message: "This is a prototype for improvements to search on GOV.UK."
  } %>
</div>
