    <%= tag.span class: "govuk-heading-s govuk-!-padding-bottom-3 govuk-!-padding-top-3 govuk-!-margin-0" do %>
    Go to page
    <% end %>
    <div class="govuk-!-padding-top-0 " style="border-bottom: 1px solid #b1b4b6">
    <div class="gem-c-document-list__item-title"> <a href="/" class="govuk-link">Pay your Self Assessment tax bill</a></div>
    <p class="govuk-body">Snippet: Lorem ipsum dolor sit amet consectetur. Viverra tellus nulla tellus...</p>
    </div>

<div class="govuk-!-padding-top-3 govuk-!-padding-bottom-2">
    <div class="gem-c-document-list__item-title"> <a href="/" class="govuk-link">Self assessment tax returns</a></div>
    <p class="govuk-body">Snippet: Lorem ipsum dolor sit amet consectetur. Viverra tellus nulla tellus...</p>
    </div>